body {
	font-family: Monospace;
	background-color: #FFF;
	margin: 0px;
}

#formBox{
	background-color: #E6F2FF;
	margin-right: 30%;
	margin-left: 30%;
	margin-top: 10%;
	margin-bottom: 10%;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px #B2B2B2;
	font-family: "Calibri";
	font-size: 15px;
	padding: 5px;
	text-align: center;
}

#length, #measurements{
	/*box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; */
	width: 100px; 
	margin-left: 10px;
}

#submitButton
{
	border-radius: 5px;
	background-color: #E6E6E6;
	font-family: "Calibri";
	margin-left: 35%;
}

.form-inline div {
	margin-bottom: 5px;
}

.reset {
	cursor: pointer;
}

.alerts {
	padding-top: 20px;
}

em {
	font-weight: bold;
}
/*Cube css*/
.row #renderCube  {
	perspective: 800px;
	perspective-origin: 75% 100px;
}

.row #renderCube .cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
	margin: 0 auto;
	display: table;
}

.row #renderCube  .cube div {
	position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.1);
    box-shadow: inset 0 0 30px rgba(125,125,125,0.8);
}

.row #renderCube  .back {
	transform: translateZ(-100px) rotateY(180deg);
}
.row #renderCube  .right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.row #renderCube  .left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.row #renderCube  .top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.row #renderCube  .bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.row #renderCube  .front {
	transform: translateZ(100px);
	padding: 10px;
}


.thumbnail .tab {
	margin: 0 auto;
    display: table;
}

.formtab.tab {
	margin: 0 auto;
    display: table;
}

.tab-row  {
	display: table-row;
}

.left, .right {
	display: table-cell;
	padding-right: 5px;
}

.disclaimer {
	font-size: 11px;
}