<p>
	1. Cut the wood into 12 pieces of length <em class="piece-length">{{length}}</em> <em class="piece-metric">{{metric}}</em>.
</p>
<p>
	2. Cut 8 of the 12 wood pieces as per the Fig 1 at com degrees at the ends.
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/instructions/cube_com_base_cut.jpg" alt="Cut" style="height:30px;">
			<div class="caption">
				<h4>Fig 1</h4>
			</div>
		</div>
	</div>
</div>
<p>
	3. Take 2 pieces from the wood pieces cut at an angle and join their ends as in Fig 2 by any means.
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_com_base_joint.jpg" alt="Joint" style="height:100px; width:100px;">
			<div class="caption">
				<h4>Fig 2</h4>
			</div>			
		</div>
	</div>
</div>
<p>
	4. Follow step 3 to join two more pieces to form the square base of the cube. The final base will look like Fig 3.
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_com_base.jpg" alt="Joint"/>
			<div class="caption">
				<h4>Fig 3</h4>
			</div>
		</div>
	</div>
</div>
<p>
	5. Similar to the base make the top of cube following steps 3 and 4.
</p>
<p>
	6. Take one of the four straight cut wood pieces to make the vertical sides of the cube. Join it to the base and top as per Fig 4. Make sure the piece's cross-section aligns with the joint of the wood pieces at the base.
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_com_joint.jpg" alt="Joint" style="height:100px; width:100px;">
			<div class="caption">
				<h4>Fig 4</h4>
			</div>
		</div>
	</div>
</div>
<p>
	7. Similar to step 6 place the other 3 vertical sides and join them together by any means to get a final cube as in Fig 5.
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_com_full.jpg" alt="Joint" style="height:100px; width:100px;">
			<div class="caption">
				<h4>Fig 5</h4>
			</div>
		</div>
	</div>
</div>
