<p>
	1. Cut the wood into 12 pieces of length <em class="piece-length">{{length}}</em> <em class="piece-metric">{{metric}}</em>.
</p>
<p>
	2. Shorten the length of 4 of the 12 wood pieces as in Fig 1.
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_simple_cuts.jpg" alt="Cut" style="height:100px; width:100px;">
			<div class="caption">
				<h4>Fig 1</h4>
			</div>			
		</div>
	</div>
</div>
<p>
	3. Take a piece of length <em class="piece-length">{{length}}</em> <em class="piece-metric">{{metric}}</em> and a piece of shorter length. Join their ends as in Fig 2 by any means.
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_simple_join.jpg" alt="Joint" style="height:100px; width:100px;">
			<div class="caption">
				<h4>Fig 2</h4>
			</div>			
		</div>
	</div>
</div>
<p>
	4. Follow step 3 to join two more pieces to form the square base of the cube. The final base will look like Fig 3.
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_simple_base.jpg" alt="Base" style="height:100px; width:100px;">
			<div class="caption">
				<h4>Fig 3</h4>
			</div>
		</div>
	</div>
</div>
<p>
	5. Similar to the base make the top of cube following steps 3 and 4.
</p>
<p>
	6. Take one of the four remaining cut wood pieces to make the vertical sides of the cube. Join it to the base and top as per Fig 4. 
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_simple_pillar.jpg" alt="Pillar" style="height:100px; width:100px;">
			<div class="caption">
				<h4>Fig 4</h4>
			</div>
		</div>
	</div>
</div>
<p>
	7. Similar to step 6 place the other 3 vertical sides and join them together by any means to get a final cube as in Fig 5.
</p>
<div class="row">
	<div class="col-md-2">
		<div class="thumbnail">
			<img src="images/instructions/cube_simple_full.jpg" alt="Final" style="height:100px; width:100px;">
			<div class="caption">
				<h4>Fig 5</h4>
			</div>
		</div>
	</div>
</div>
