<p>
	1. Cut the wood into 8 pieces of length <em class="piece-length">{{length}}</em> <em class="piece-metric">{{metric}}</em>.
</p>
<p>
	2. Cut all 8 pieces at 45 degrees at each end.
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/pyramid/pyramid_t1_pillar.jpg" alt="Joint">
			<div class="caption">
				<h4>Fig 1</h4>
			</div>
		</div>
	</div>
</div>
<p>
	3. To create the base, join the pieces cut in step 2 as shown below:
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/pyramid/pyramid_t2_join.jpg" alt="Joint">
			<div class="caption">
				<h4>Fig 2</h4>
			</div>
		</div>
	</div>
</div>
<p>
	4. The remaining 4 pieces of wood are placed on the base as shown below:
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/pyramid/pyramid_t1_side2.jpg" alt="Joint">
			<div class="caption">
				<h4>Fig 3</h4>
			</div>			
		</div>
	</div>
</div>
<p>
	5. The top view of the pyramid looks like this. Note that all the pillare must be placed at 45 degree angle formed at the intersection of the 2 sides of the base.
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/pyramid/pyramid_t2_top.jpg" alt="Joint">
			<div class="caption">
				<h4>Fig 4</h4>
			</div>
		</div>
	</div>
</div>
