<p>
	1. Cut the wood into 6 pieces of length <em class="piece-length">{{length}}</em> <em class="piece-metric">{{metric}}</em>.
</p>
<p>
	2. Cut 3 of the 6 wood pieces as per the Fig 1 at 30 degrees at the ends.
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/tetrahedron/tetrahedron_base.jpg" alt="Cut">
			<div class="caption">
				<h4>Fig 1</h4>
			</div>
		</div>
	</div>
</div>
<p>
	3. Join the 3 pieces to form the base. Call one of the sides as 'base 1'. Other two will be called 'base 2' and 'base 3'.
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/tetrahedron/tetrahedron.jpg" alt="Cut">
			<div class="caption">
				<h4>Fig 2</h4>
			</div>
		</div>
	</div>
</div>
<p>
	4. Take 3 pieces from the wood pieces cut as per step 1 and cut them at their ends at angles 60 and 30 degrees. Call them sides 1, 2 and 3.
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/tetrahedron/tetrahedron_pillar.jpg" alt="Joint">
			<div class="caption">
				<h4>Fig 3</h4>
			</div>			
		</div>
	</div>
</div>
<p>
<p>
	5. Placing side 1, 2 and 3 at the end where we made the 60 degree cut on the base will look like:
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/tetrahedron/tetrahedron_side1.jpg" alt="Full">
			<div class="caption">
				<h4>Fig 4</h4>
			</div>
		</div>
	</div>
</div>
<p>
	6. The perspective view of this looks like:
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/tetrahedron/tetrahedron_side2.jpg" alt="Joint">
			<div class="caption">
				<h4>Fig 5</h4>
			</div>
		</div>
	</div>
</div>
<p>
	7. The Top view is shown below. Side 1 must be placed at an angle of 30 degrees between base 2 and 3.
Side 2 must be placed at an angle of 30 degrees between base 1 and 3.
Side 3 must be placed at an angle of 30 degrees between base 1 and 2.
</p>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="images/tetrahedron/tetrahedron_top.jpg" alt="Joint">
			<div class="caption">
				<h4>Fig 6</h4>
			</div>
		</div>
	</div>
</div>
